.editor {
  padding-top: 80px;
}

.ce-block__content {
  max-width: 900px;
}

.ce-toolbar__actions {
  left: -180px;
  top: 10px;
}

.ce-toolbar__plus {
  left: -160px;
}

.ce-toolbox--opened {
  left: -100px;
}

.ce-settings {
  right: auto;
}

.cdx-list__item {
  padding: 2px 0 2px 3px !important;
  line-height: normal !important;
}

.cdx-checklist__item {
  // height: 22px;
  padding: 2px 0 2px 0px !important;
  line-height: normal !important;
}
