.editor {
  padding-top: 80px;
}

.ce-block__content {
  max-width: 900px;
}

.ce-toolbar__actions {
  left: -180px;
  top: 10px;
}

.ce-toolbar__plus {
  left: -160px;
}

.ce-toolbox--opened {
  left: -100px;
}
