// .browserupgrade {
//   margin: 0.2em 0;
//   background: #ccc;
//   color: #000;
//   padding: 0.2em 0;
// }

// /* Space out content a bit */
// body {
//   padding-top: 1.5rem;
//   padding-bottom: 1.5rem;
// }

// /* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
//   padding-right: 1rem;
//   padding-left: 1rem;
// }

// /* Custom page header */
// .header {
//   padding-bottom: 1rem;
//   border-bottom: .05rem solid #e5e5e5;
// }

// /* Make the masthead heading the same height as the navigation */
// .header h3 {
//   margin-top: 0;
//   margin-bottom: 0;
//   line-height: 3rem;
// }

// /* Custom page footer */
// .footer {
//   padding-top: 1.5rem;
//   color: #777;
//   border-top: .05rem solid #e5e5e5;
// }

// /* Customize container */
// @media (min-width: 48em) {
//   .container {
//     max-width: 46rem;
//   }
// }
// .container-narrow > hr {
//   margin: 2rem 0;
// }

// /* Main marketing message and sign up button */
// .jumbotron {
//   text-align: center;
//   border-bottom: .05rem solid #e5e5e5;
// }
// .jumbotron .btn {
//   padding: .75rem 1.5rem;
//   font-size: 1.5rem;
// }

// /* Supporting marketing content */
// .marketing {
//   margin: 3rem 0;
// }
// .marketing p + h4 {
//   margin-top: 1.5rem;
// }

// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 48em) {
//   /* Remove the padding we set earlier */
//   .header,
//   .marketing,
//   .footer {
//     padding-right: 0;
//     padding-left: 0;
//   }
//   /* Space out the masthead */
//   .header {
//     margin-bottom: 2rem;
//   }
//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  line-height: 1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 2.875rem 1.25rem;
  font-size: 1.8rem;
}

// #sidebar-wrapper .list-group {
//   width: 15rem;
// }

#wrapper {
  overflow-x: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

// .ce-block__content {
//   position: relative;
//   max-width: 90%;
//   margin: 0 auto;
//   -webkit-transition: background-color .15s ease;
//   transition: background-color .15s ease;
// }

// .ce-toolbar__actions {
//   position: absolute;
//   right: -15px;
//   top: 5px;
//   opacity: 0;
// }

.pull-right {
  text-align: right;
}

.custom-file {
  width: auto;
}

.import-file {
  margin: 10px;
}

.dropdown-item {
  padding: .0rem 1.5rem;
}
